HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### application config file ###
*.yml
!appspec.yml
!.github/workflows/cd.yml
!.github/workflows/gradle.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### log files ###
log/
*.log
*.gz

### database files ###
/storage/db-core/src/main/resources/init/h2-data.sql
/storage/db-core/src/main/resources/init/h2-schema.sql

### apple private key-file ###
/api/src/main/resources/*.p8
