<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 콘솔 로깅 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <property name="LOG_PATH" value="./logs"/>
    <property name="LOG_FILE_NAME" value="api"/>
    <property name="ERR_LOG_FILE_NAME" value="api-error"/>

    <!-- API 로깅 -->
    <appender name="ApiLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level> <!-- info 레벨 -->
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
        <!-- 하루에 한번 압축 후 보관, 최대 30일, 1GB까지 보관 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- 오류 로깅 -->
    <appender name="ErrorLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level> <!-- error 레벨 -->
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${LOG_PATH}/${ERR_LOG_FILE_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
        <!-- 하루에 한번 압축 후 보관, 최대 30일, 1GB까지 보관 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${ERR_LOG_FILE_NAME}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="local">
        <!-- logger name에 LoggingAspect 클래스 위치해있는 패키지 경로 지정-->
        <logger name="com.org.gunbbang.AOP.LoggingAspect" level="INFO">
            <appender-ref ref="Console" />
            <appender-ref ref="ApiLogFile" />
            <appender-ref ref="ErrorLogFile" />
        </logger>
    </springProfile>

    <springProfile name="dev-set1">
        <logger name="com.org.gunbbang.AOP.LoggingAspect" level="INFO">
            <appender-ref ref="ApiLogFile" />
            <appender-ref ref="ErrorLogFile" />
        </logger>
    </springProfile>
    <springProfile name="dev-set2">
        <logger name="com.org.gunbbang.AOP.LoggingAspect" level="INFO">
            <appender-ref ref="ApiLogFile" />
            <appender-ref ref="ErrorLogFile" />
        </logger>
    </springProfile>

    <!-- turn OFF all logging (children can override) -->
    <!-- 이 설정 없으면 터미널창에 spring framework 로그 안찍힘  -->
    <root level="INFO">
        <appender-ref ref="Console" />
<!--        <appender-ref ref="ApiLogFile" />-->
        <appender-ref ref="ErrorLogFile" />
    </root>
</configuration>